:root{
    --width: 1200px;
    --margin: 0 auto;
    --font-family: 'Inter';
    --font-style: normal
    --background-page: #FFFFFF;
    --font-weight: 500;
    
    --text-color-logo: #3A404E;
    --text-color-opcao: #667085;
    --text-botao-entrar: #667085;
    --text-botao-cadastrar: #FFFFFF;
    --text-color: #8E2424;
    --main-color: #667085;
    --text-texto: #101828;

    --borda-elemento: 2px solid black;
}

body{
    font-family: var(--font-family);
    font-size: var(--font-style);
    background-color: var(--background-page);
}
